@{
    ViewBag.Title = "Admin - Products";
}
<h2 style="margin-top: 3%">Admin Products</h2>

<p>
    NA MIVAAAAAN!
</p>
<ul>
    <li>@Html.ActionLink("Back to Admin page", "Index", "Admin", new { area = "" }, new { @class = "nav-link" })</li>
</ul>