@model IEnumerable<Web.Models.CustomerDetails>
@{
    ViewBag.Title = "Messages";
}
<h2 style="margin-top: 3%">Messages</h2>
@Html.ActionLink("Back to Admin page", "Index", "Admin", new { area = "" }, new { @class = "nav-link" })