@{

    ViewBag.Title = "Contact";

}<h2 style="margin-top:3%">@ViewBag.Title Us.</h2><address>
    Blank Solution<br />
    1117 Budapest, Budafoki street 56.<br />
    <abbr title="Phone">P:</abbr>
    0630/123-4567

</address><address>
    <strong>Support:</strong>   <a href="mailto:Support@blanksolution.com">Support@blanksolution.com</a><br />
    <strong>Marketing:</strong> <a href="mailto:Marketing@example.com">Marketing@blanksolution.com</a>
</address>