USE [Web.DataModel.Entity_Data_ Modell]
GO
/****** Object:  Table [dbo].[Products]    Script Date: 2019. 05. 15. 14:12:07 ******/
DROP TABLE [dbo].[Products]
GO
/****** Object:  Table [dbo].[__MigrationHistory]    Script Date: 2019. 05. 15. 14:12:07 ******/
DROP TABLE [dbo].[__MigrationHistory]
GO
USE [master]
GO
/****** Object:  Database [Web.DataModel.Entity_Data_ Modell]    Script Date: 2019. 05. 15. 14:12:07 ******/
DROP DATABASE [Web.DataModel.Entity_Data_ Modell]
GO
/****** Object:  Database [Web.DataModel.Entity_Data_ Modell]    Script Date: 2019. 05. 15. 14:12:07 ******/
CREATE DATABASE [Web.DataModel.Entity_Data_ Modell]
 CONTAINMENT = NONE
 ON  PRIMARY 
( NAME = N'Web.DataModel.Entity_Data_ Modell', FILENAME = N'C:\Users\Training\Web.DataModel.Entity_Data_ Modell.mdf' , SIZE = 8192KB , MAXSIZE = UNLIMITED, FILEGROWTH = 65536KB )
 LOG ON 
( NAME = N'Web.DataModel.Entity_Data_ Modell_log', FILENAME = N'C:\Users\Training\Web.DataModel.Entity_Data_ Modell_log.ldf' , SIZE = 8192KB , MAXSIZE = 2048GB , FILEGROWTH = 65536KB )
GO
IF (1 = FULLTEXTSERVICEPROPERTY('IsFullTextInstalled'))
begin
EXEC [Web.DataModel.Entity_Data_ Modell].[dbo].[sp_fulltext_database] @action = 'enable'
end
GO
USE [Web.DataModel.Entity_Data_ Modell]
GO
USE [Web.DataModel.Entity_Data_ Modell]
GO
/****** Object:  Table [dbo].[__MigrationHistory]    Script Date: 2019. 05. 15. 14:12:08 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[__MigrationHistory](
	[MigrationId] [nvarchar](150) NOT NULL,
	[ContextKey] [nvarchar](300) NOT NULL,
	[Model] [varbinary](max) NOT NULL,
	[ProductVersion] [nvarchar](32) NOT NULL,
 CONSTRAINT [PK_dbo.__MigrationHistory] PRIMARY KEY CLUSTERED 
(
	[MigrationId] ASC,
	[ContextKey] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Products]    Script Date: 2019. 05. 15. 14:12:08 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Products](
	[ID] [uniqueidentifier] NOT NULL,
	[Name] [nvarchar](max) NULL,
	[Price] [int] NOT NULL,
	[Description] [nvarchar](max) NULL,
	[Brand] [nvarchar](max) NULL,
	[Resolution] [nvarchar](max) NULL,
	[Hz] [nvarchar](max) NULL,
	[Ration] [nvarchar](max) NULL,
 CONSTRAINT [PK_dbo.Products] PRIMARY KEY CLUSTERED 
(
	[ID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
INSERT [dbo].[Products] ([ID], [Name], [Price], [Description], [Brand], [Resolution], [Hz], [Ration]) VALUES (N'7eb0e185-ed8b-4081-9550-1dc1b297917c', N'krumpli', 3003000, N'desc', N'Acer', N'3030*303', N'120"', N'421412')
GO
INSERT [dbo].[Products] ([ID], [Name], [Price], [Description], [Brand], [Resolution], [Hz], [Ration]) VALUES (N'972930cd-9fd7-4a63-86c4-36e406e140b4', N'teszt', 200, N'leírás', N'0', NULL, N' "', NULL)
GO
USE [master]
GO
