USE [Web.DataModel.Entity_Data__Modell]
GO
ALTER TABLE [dbo].[PurchaseHistories] DROP CONSTRAINT [FK_dbo.PurchaseHistories_dbo.OrderLists_OrderList_ID]
GO
ALTER TABLE [dbo].[OrderLists] DROP CONSTRAINT [FK_dbo.OrderLists_dbo.DeliveryAddresses_DeliveryAddress_ID]
GO
ALTER TABLE [dbo].[OrderLists] DROP CONSTRAINT [FK_dbo.OrderLists_dbo.CustomerDetails_CustomerDetails_ID]
GO
ALTER TABLE [dbo].[OrderLists] DROP CONSTRAINT [FK_dbo.OrderLists_dbo.Baskets_Basket_ItemId]
GO
ALTER TABLE [dbo].[Baskets] DROP CONSTRAINT [FK_dbo.Baskets_dbo.Products_Products_ID]
GO
ALTER TABLE [dbo].[OrderLists] DROP CONSTRAINT [DF__OrderList__DateC__5AEE82B9]
GO
/****** Object:  Index [IX_OrderList_ID]    Script Date: 2019. 05. 20. 9:54:18 ******/
DROP INDEX [IX_OrderList_ID] ON [dbo].[PurchaseHistories]
GO
/****** Object:  Index [IX_DeliveryAddress_ID]    Script Date: 2019. 05. 20. 9:54:18 ******/
DROP INDEX [IX_DeliveryAddress_ID] ON [dbo].[OrderLists]
GO
/****** Object:  Index [IX_CustomerDetails_ID]    Script Date: 2019. 05. 20. 9:54:18 ******/
DROP INDEX [IX_CustomerDetails_ID] ON [dbo].[OrderLists]
GO
/****** Object:  Index [IX_Basket_ItemId]    Script Date: 2019. 05. 20. 9:54:18 ******/
DROP INDEX [IX_Basket_ItemId] ON [dbo].[OrderLists]
GO
/****** Object:  Index [IX_Products_ID]    Script Date: 2019. 05. 20. 9:54:18 ******/
DROP INDEX [IX_Products_ID] ON [dbo].[Baskets]
GO
/****** Object:  Table [dbo].[PurchaseHistories]    Script Date: 2019. 05. 20. 9:54:18 ******/
DROP TABLE [dbo].[PurchaseHistories]
GO
/****** Object:  Table [dbo].[Products]    Script Date: 2019. 05. 20. 9:54:18 ******/
DROP TABLE [dbo].[Products]
GO
/****** Object:  Table [dbo].[OrderLists]    Script Date: 2019. 05. 20. 9:54:18 ******/
DROP TABLE [dbo].[OrderLists]
GO
/****** Object:  Table [dbo].[DeliveryAddresses]    Script Date: 2019. 05. 20. 9:54:18 ******/
DROP TABLE [dbo].[DeliveryAddresses]
GO
/****** Object:  Table [dbo].[CustomerDetails]    Script Date: 2019. 05. 20. 9:54:18 ******/
DROP TABLE [dbo].[CustomerDetails]
GO
/****** Object:  Table [dbo].[Baskets]    Script Date: 2019. 05. 20. 9:54:18 ******/
DROP TABLE [dbo].[Baskets]
GO
/****** Object:  Table [dbo].[__MigrationHistory]    Script Date: 2019. 05. 20. 9:54:18 ******/
DROP TABLE [dbo].[__MigrationHistory]
GO
USE [master]
GO
/****** Object:  Database [Web.DataModel.Entity_Data__Modell]    Script Date: 2019. 05. 20. 9:54:18 ******/
DROP DATABASE [Web.DataModel.Entity_Data__Modell]
GO
/****** Object:  Database [Web.DataModel.Entity_Data__Modell]    Script Date: 2019. 05. 20. 9:54:18 ******/
CREATE DATABASE [Web.DataModel.Entity_Data__Modell]
 CONTAINMENT = NONE
 ON  PRIMARY 
( NAME = N'Web.DataModel.Entity_Data__Modell', FILENAME = N'C:\Users\Training\Web.DataModel.Entity_Data__Modell.mdf' , SIZE = 8192KB , MAXSIZE = UNLIMITED, FILEGROWTH = 65536KB )
 LOG ON 
( NAME = N'Web.DataModel.Entity_Data__Modell_log', FILENAME = N'C:\Users\Training\Web.DataModel.Entity_Data__Modell_log.ldf' , SIZE = 8192KB , MAXSIZE = 2048GB , FILEGROWTH = 65536KB )
GO
IF (1 = FULLTEXTSERVICEPROPERTY('IsFullTextInstalled'))
begin
EXEC [Web.DataModel.Entity_Data__Modell].[dbo].[sp_fulltext_database] @action = 'enable'
end
GO
USE [Web.DataModel.Entity_Data__Modell]
GO
USE [Web.DataModel.Entity_Data__Modell]
GO
/****** Object:  Table [dbo].[__MigrationHistory]    Script Date: 2019. 05. 20. 9:54:18 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[__MigrationHistory](
	[MigrationId] [nvarchar](150) NOT NULL,
	[ContextKey] [nvarchar](300) NOT NULL,
	[Model] [varbinary](max) NOT NULL,
	[ProductVersion] [nvarchar](32) NOT NULL,
 CONSTRAINT [PK_dbo.__MigrationHistory] PRIMARY KEY CLUSTERED 
(
	[MigrationId] ASC,
	[ContextKey] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Baskets]    Script Date: 2019. 05. 20. 9:54:18 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Baskets](
	[ItemId] [int] IDENTITY(1,1) NOT NULL,
	[CustomerID] [int] NOT NULL,
	[Quantity] [int] NOT NULL,
	[Products_ID] [int] NULL,
 CONSTRAINT [PK_dbo.Baskets] PRIMARY KEY CLUSTERED 
(
	[ItemId] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[CustomerDetails]    Script Date: 2019. 05. 20. 9:54:18 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[CustomerDetails](
	[ID] [int] IDENTITY(1,1) NOT NULL,
	[FirstName] [nvarchar](max) NOT NULL,
	[LastName] [nvarchar](max) NOT NULL,
	[EmailAddress] [nvarchar](max) NOT NULL,
	[PhoneNumber] [nvarchar](max) NOT NULL,
 CONSTRAINT [PK_dbo.CustomerDetails] PRIMARY KEY CLUSTERED 
(
	[ID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
/****** Object:  Table [dbo].[DeliveryAddresses]    Script Date: 2019. 05. 20. 9:54:18 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[DeliveryAddresses](
	[ID] [int] IDENTITY(1,1) NOT NULL,
	[City] [nvarchar](max) NOT NULL,
	[ZipCode] [nvarchar](max) NOT NULL,
	[Address] [nvarchar](max) NOT NULL,
 CONSTRAINT [PK_dbo.DeliveryAddresses] PRIMARY KEY CLUSTERED 
(
	[ID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
/****** Object:  Table [dbo].[OrderLists]    Script Date: 2019. 05. 20. 9:54:18 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[OrderLists](
	[ID] [int] IDENTITY(1,1) NOT NULL,
	[Status] [nvarchar](max) NULL,
	[Basket_ItemId] [int] NULL,
	[CustomerDetails_ID] [int] NULL,
	[DeliveryAddress_ID] [int] NULL,
	[DateCreated] [datetime] NOT NULL,
 CONSTRAINT [PK_dbo.OrderLists] PRIMARY KEY CLUSTERED 
(
	[ID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Products]    Script Date: 2019. 05. 20. 9:54:18 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Products](
	[ID] [int] IDENTITY(1,1) NOT NULL,
	[Price] [int] NOT NULL,
	[Description] [nvarchar](max) NULL,
	[Brand] [nvarchar](max) NULL,
	[Size] [nvarchar](max) NULL,
	[Name] [nvarchar](max) NULL,
	[Resolution] [nvarchar](max) NULL,
	[Ratio] [nvarchar](max) NULL,
	[Hz] [nvarchar](max) NULL,
 CONSTRAINT [PK_dbo.Products] PRIMARY KEY CLUSTERED 
(
	[ID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
/****** Object:  Table [dbo].[PurchaseHistories]    Script Date: 2019. 05. 20. 9:54:18 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[PurchaseHistories](
	[CustomerID] [int] IDENTITY(1,1) NOT NULL,
	[OrderList_ID] [int] NULL,
 CONSTRAINT [PK_dbo.PurchaseHistories] PRIMARY KEY CLUSTERED 
(
	[CustomerID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
SET IDENTITY_INSERT [dbo].[Products] ON 
GO
INSERT [dbo].[Products] ([ID], [Price], [Description], [Brand], [Size], [Name], [Resolution], [Ratio], [Hz]) VALUES (1, 2000, N'Bálna és Delfin', N'LG', N'50 "', N't2131ff9', N'800x600', N'4:3', N'75 Hz')
GO
INSERT [dbo].[Products] ([ID], [Price], [Description], [Brand], [Size], [Name], [Resolution], [Ratio], [Hz]) VALUES (2, 3000, N'Kolbi', N'Acer', N'18.5', N'Delfin', N'1360.x768', N'16:9', N'100')
GO
SET IDENTITY_INSERT [dbo].[Products] OFF
GO
/****** Object:  Index [IX_Products_ID]    Script Date: 2019. 05. 20. 9:54:19 ******/
CREATE NONCLUSTERED INDEX [IX_Products_ID] ON [dbo].[Baskets]
(
	[Products_ID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, DROP_EXISTING = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
GO
/****** Object:  Index [IX_Basket_ItemId]    Script Date: 2019. 05. 20. 9:54:19 ******/
CREATE NONCLUSTERED INDEX [IX_Basket_ItemId] ON [dbo].[OrderLists]
(
	[Basket_ItemId] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, DROP_EXISTING = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
GO
/****** Object:  Index [IX_CustomerDetails_ID]    Script Date: 2019. 05. 20. 9:54:19 ******/
CREATE NONCLUSTERED INDEX [IX_CustomerDetails_ID] ON [dbo].[OrderLists]
(
	[CustomerDetails_ID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, DROP_EXISTING = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
GO
/****** Object:  Index [IX_DeliveryAddress_ID]    Script Date: 2019. 05. 20. 9:54:19 ******/
CREATE NONCLUSTERED INDEX [IX_DeliveryAddress_ID] ON [dbo].[OrderLists]
(
	[DeliveryAddress_ID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, DROP_EXISTING = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
GO
/****** Object:  Index [IX_OrderList_ID]    Script Date: 2019. 05. 20. 9:54:19 ******/
CREATE NONCLUSTERED INDEX [IX_OrderList_ID] ON [dbo].[PurchaseHistories]
(
	[OrderList_ID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, DROP_EXISTING = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
GO
ALTER TABLE [dbo].[OrderLists] ADD  CONSTRAINT [DF__OrderList__DateC__5AEE82B9]  DEFAULT ('1900-01-01T00:00:00.000') FOR [DateCreated]
GO
ALTER TABLE [dbo].[Baskets]  WITH CHECK ADD  CONSTRAINT [FK_dbo.Baskets_dbo.Products_Products_ID] FOREIGN KEY([Products_ID])
REFERENCES [dbo].[Products] ([ID])
GO
ALTER TABLE [dbo].[Baskets] CHECK CONSTRAINT [FK_dbo.Baskets_dbo.Products_Products_ID]
GO
ALTER TABLE [dbo].[OrderLists]  WITH CHECK ADD  CONSTRAINT [FK_dbo.OrderLists_dbo.Baskets_Basket_ItemId] FOREIGN KEY([Basket_ItemId])
REFERENCES [dbo].[Baskets] ([ItemId])
GO
ALTER TABLE [dbo].[OrderLists] CHECK CONSTRAINT [FK_dbo.OrderLists_dbo.Baskets_Basket_ItemId]
GO
ALTER TABLE [dbo].[OrderLists]  WITH CHECK ADD  CONSTRAINT [FK_dbo.OrderLists_dbo.CustomerDetails_CustomerDetails_ID] FOREIGN KEY([CustomerDetails_ID])
REFERENCES [dbo].[CustomerDetails] ([ID])
GO
ALTER TABLE [dbo].[OrderLists] CHECK CONSTRAINT [FK_dbo.OrderLists_dbo.CustomerDetails_CustomerDetails_ID]
GO
ALTER TABLE [dbo].[OrderLists]  WITH CHECK ADD  CONSTRAINT [FK_dbo.OrderLists_dbo.DeliveryAddresses_DeliveryAddress_ID] FOREIGN KEY([DeliveryAddress_ID])
REFERENCES [dbo].[DeliveryAddresses] ([ID])
GO
ALTER TABLE [dbo].[OrderLists] CHECK CONSTRAINT [FK_dbo.OrderLists_dbo.DeliveryAddresses_DeliveryAddress_ID]
GO
ALTER TABLE [dbo].[PurchaseHistories]  WITH CHECK ADD  CONSTRAINT [FK_dbo.PurchaseHistories_dbo.OrderLists_OrderList_ID] FOREIGN KEY([OrderList_ID])
REFERENCES [dbo].[OrderLists] ([ID])
GO
ALTER TABLE [dbo].[PurchaseHistories] CHECK CONSTRAINT [FK_dbo.PurchaseHistories_dbo.OrderLists_OrderList_ID]
GO
USE [master]
GO
